$light-gray: #f6f6f6;
$light-smoke: #d9d9d9;
$medium-gray: #808080;
$bright-orange: #f89b1c;
$pale-gray: #f2f2f2;
$dark-gray: #333;
$dark-blue: #1c3041;
$teal-blue: #376184;
$steal-blue: #4982b4;
$aqua: #2fe6de;
$apricot: #fbcd8d;
$midnight-blue: #15232b;
$light-steel: #bcc1c5;
$whiteSmoke: #e9ecef;
$tabColor: #007bff;
$transparent-black: rgba(0, 0, 0, 0.1);
$transparent-green: rgba(0, 55, 0, 0.7);
$black: #000;
$white: #fff;
$khaki: #ffd865;
$lightYellow: #fffad9;
$gold: #f2c200;
$dark-red: #8b0000;
$font: "Black Ops One", cursive;
$font-Bebas: "Bebas Neue", sans-serif;
$inter: Inter;
