.Card {
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    height: 253px;
    overflow: hidden;
    width: 391px;

    &-image {
        background: $khaki;
        height: 100%;
        width: 70%;
    }
    &-footer {
        align-items: center;
        background: $gold;
        display: flex;
        flex-direction: column-reverse;
        gap: 10px;
        height: 100%;
        justify-content: center;
        width: 30%;
    }

    &-text {
        color: $black;
        font-size: 14px;

        &:hover {
            text-decoration: underline;
        }
    }

    &-favorite {
        color: $khaki;
    }
}
